<!-- Menu -->
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['']">Dashboard</ion-item>
      <ion-item [routerLink]="['/settings']">Settings</ion-item>
      <ion-item [routerLink]="['']">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Toolbar -->
<ion-header id="main">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Detail Content -->
<ion-content fullscreen>
  <ion-searchbar [(ngModel)]="filter_text" showCancelButton="focus" animated></ion-searchbar>
  <h1>Recent Purchases</h1>
  <div *ngFor="let item of data_store | filter : filter_text">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ item['store'] }}</ion-card-title>
        <ion-card-subtitle>Amount: {{ item['amount'] | currency }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Date: {{item['date']}}</p>
        <ion-button fill="outline" size="small" color="success" (click)="edit(item)">Edit</ion-button>
        <ion-button fill="outline" size="small" color="danger" (click)="delete(item)">Delete</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
