<!-- Header -->
<ion-header [translucent]="true" id="main">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-avatar slot="end">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<!-- Menu -->
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><ion-nav [routerLink]="['']">Search</ion-nav></ion-item>
      <ion-item><ion-nav [routerLink]="['/detail']">Detail View</ion-nav></ion-item>
      <ion-item><ion-nav [routerLink]="['']">Settings</ion-nav></ion-item>
      <ion-item color="warning"><ion-nav [routerLink]="['']">Log Out</ion-nav></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Page Content -->
<ion-content fullscreen>
  <h3>Total amount spent</h3>
  <h1>$ 950.00</h1>
  <ion-chip color="success">+50.00</ion-chip>

  <div>
    <ion-list>
      <ion-list-header>Transactions</ion-list-header>

      <ion-item *ngFor="let item of data_store">
        <ion-label>
          <h2>{{ item['store'] }}</h2>
          <p>Amount: {{ item['amount'] | number}}</p>
          <p>Date: {{ item['date'] }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>